@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.my-container {
    background-color: #5C66FF;
    font-family: 'Lato', sans-serif !important;
    color: white;
    padding: 100px 0;
    width: 100vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
    max-width: none !important;
}

.my-wrap{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1140px;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    flex: 50%;
    padding: 10px;
}

.data h1{
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 39px;
    margin-left: 0 !important;
    font-family: 'Lato', sans-serif !important;
}

.description{
    font-weight: 300;
    margin: 5px auto;
    font-family: 'Lato', sans-serif !important;
}

.description .benefits{
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif !important;
}

.my-font{
	font-family: 'Lato', sans-serif;
}

.benefits{
	color: white;
	font-family: 'Lato', sans-serif;
    list-style-image: url("../assets/cheque-1.png");
}

.benefits li{
    font-weight: 300;
    margin: 10px auto;
		color: #FFFFFF;
font-family: "Lato", Sans-serif;
font-weight: 300;
letter-spacing: 0.5px;
}

.myHspt{
	font-family: 'Lato', sans-serif;
	background: #ddd;
	border-radius: 19px;
	padding: 44px 50px;
	margin: 0px 2%;
}

.myHspt .hs-form-field{
    position: relative;
}

.myHspt label {
    
    line-height: 2rem;
   left: 1rem;
    top: 5px;
    color: grey;
    font-weight: 300;
		font-family: "Lato", Sans-serif;
		font-weight: 300;
		letter-spacing: 0.8px;
}

.myHspt input {
      margin: 5px;
      background: #efeeee;
      line-height: 2rem;
      border-radius: 5px;
      border: solid 1px gray;
      max-width: 100%;
      width: 100% !important
    }

.myHspt fieldset {
        max-width: none !important;
	margin-bottom: 10px !important
    }

.myHspt .hs_enrollment_range__c, .myHspt .hs_company{
	width:100% !important
}

.myHspt .hs-error-msgs{
    display: block;
    list-style: none;
    margin: auto;
    padding: 0px 10px;
    margin: auto;
}

.myHspt .hs-error-msgs{
    display: block;
    list-style: none;
    margin: auto;
    padding: 0px 10px;
    margin: auto;
}

.myHspt .hs-error-msgs label{
    position: unset;
    line-height: unset;
    color: brown;
}

.myHspt select{
	width: 100% !important;
	padding: 10px;
	color: gray;
}

.myHspt fieldset:nth-child(5) {
   display: none
}

.myHspt fieldset:nth-child(n+7) {
   display: none
}

.myHspt .submitted-message{
	color: white	
}

.myHsptSubmit{
    width: 100%;
    background: orange !important;
    border: none !important;
    color: white !important;
}

.hbspt-form  .submitted-message{
	color: white !important;
}

.hbspt-form  .hs_submit{
	margin-top: 15px;
}

@media (max-width: 600px) {
	.myHspt {
		padding: 45px 25px;
		margin: 0px 5%;
	}
}

@media (max-width: 800px) {
    .my-wrap {
      flex-direction: column;
    }
  }
